<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>Product List</title>
</head>
<body>
<nav class="navbar navbar-light bg-primary justify-content-between" tyle="background-color: #e3f2fd;">
    <a class="navbar-brand">ACM Store</a>
    <div class="nav-item dropdown">
        <div th:text="${#httpServletRequest.remoteUser}" class="nav-item dropdown-toggle" href="#"
             id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="right: 0; left: auto;">
            <form class="form" th:action="@{/logout}" method="post">
                <button class="btn btn-primary btn-link" type="submit" value="Sign Out">Sign Out</button>
            </form>
            <a class="menu-item" href="/cart">checkout</a>
        </div>
    </div>
</nav>
<div class="container py-5">
    <!-- Content here -->
    <div class="row">
        <div class="col-md-9">
            <div class="card-columns">
                <div class="card" th:each="product : ${products}">
                    <img class="card-img-top" style="width: 10 rem;"
                         th:src="${'http://localhost:8082/image/'+product.id}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.name}"></h5>
                        <p class="card-text" th:text="${product.description}"></p>
                        <div class="row">
                        <span class="card-badge badge-secondary badge-pill m-1" th:each="tag : ${product.tags}"
                              th:text="${tag}"></span>
                        </div>
                        <form th:action="${'/cart/' + product.id}" method="post">
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <form th:action="@{/cart/}" method="post" class="form">
                <table class="table">
                    <thead>
                    <th class="align-center">Shopping Chart</th>
                    </thead>
                    <tr th:each="cartItem : ${cart}">
                        <td>
                            <div th:text="${cartItem.name}">Sun Glass</div>
                        </td>
                        <td>
                            <div th:text="${cartItem.quantity}">1</div>
                        </td>
                        <td><a class="btn btn-danger" value="Delete">Delete</a></td>
                        <td><a class="btn btn-primary" value="update">Update</a></td>
                    </tr>
                </table>
                </table>
                <button class="btn btn-primary float-right" type="submit">Checkout</button>
            </form>
            <table class="table">
                <thead>
                <th class="align-center">Order Details</th>
                </thead>
                <tr th:each="orderItem : ${orderList}">
                    <td>
                        <div th:text="${orderItem.id}">Sun Glass</div>
                    </td>
                    <td><a class="btn btn-danger" value="Delete">Cancel</a></td>

                </tr>
            </table>
            </table>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>
</html>